.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.layout {
  flex: 1;
}

.layout {
  display: flex;
  width: 100%;
  gap: var(--gutter);
  align-items: flex-start;
}

.sidenav {
  flex: 0 0 var(--sidebar-width);
}

.main-content {
  flex: 1 1 auto;
  overflow: auto;
}