<div class="page-wrapper">
    
    <app-header [showNav]="showLayout"></app-header>

    <div class="container" [class.layout]="showLayout">
        
        @if (showLayout) {
            <aside class="sidenav">
                <app-menu></app-menu>
            </aside>
        }

        <main class="main-content" [class.auth-content]="!showLayout">
            <router-outlet></router-outlet>
        </main>
    </div>

    <app-footer></app-footer>
</div>

@if (!showLayout) {
  <div class="leaves-container">
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
  </div>
}